<div class="sign-in-wrapper">
  <h3>Sign Up</h3>
  <form>
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label>Address</label>
        <textarea class="form-control" rows="1" name="text"></textarea>
      </div>
      <div class="form-group">
        <label class="col-12 p-0 ">Gender</label>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Male
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Female
          </label>
        </div>
      </div>
      <div class="form-group">
        <label class="col-12 p-0 ">Prefered Location</label>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Pune
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Mumbai
          </label>
        </div>
        <div class="form-check-inline disabled">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="" disabled>Any
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" placeholder="Enter password">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" placeholder="Enter confirm password">
      </div>

      <button type="submit" class="btn btn-primary btn-submit">Submit</button>
    </form>
</div>
