<div class="container">

<div class="row">
  <div class="col-12"> 
  </div>   
</div>

<div class="row">
  <div class="col-12 first-exp-wrapper">      
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of items; let i = index">
        {{item}}
        <div>
          <span class="btn badge badge-primary badge-pill mr-2" (click)="addItems();">
            <i class="fas fa-plus"></i>
          </span>
          <span class="btn badge badge-danger badge-pill" (click)="deleteItem(i);">
            <i class="fas fa-trash-alt"></i>
          </span>
        </div>
      </li>
    </ul>  
    <!-- <button type="button" class="btn btn-outline-success mt-3 mr-2 btn-sm">Add</button> -->
    <button type="button" class="btn btn-outline-danger mt-3 btn-sm" (click)="resetItems();">Reset</button>
    <hr>
    <a href="#demo" class="" data-toggle="collapse">About example</a>
    <div id="demo" class="collapse">
     Here, add,
    </div>  
  </div>
  
</div>


<div class="row">
  <div class="col-12 first-exp-wrapper">
    <div class="alert alert-primary" *ngIf="flag">
      On click of below button hide show (toggle) this section 
    </div>
    <button type="button" class="btn btn-success btn-sm" (click)="toggleBtn();">Hide/Show</button>  
  </div>   
</div>

</div>

