<div class="container-fluid">
   <div class="row">
        <header class="col-12 p-0">
            <app-top-panel></app-top-panel>
        </header>
   </div>
    <div class="row">
        <aside class="col-2">
            <div class="row">
                <div class="col-12 p-0">
                    <div class="left-panel-wrapper">
                        <app-left-panel></app-left-panel>
                    </div>
                </div>
            </div>            
        </aside>
        <section class="col-10">
            <div class="row">
                <div class="col-12 p-0">
                   <div class="body-wrapper">
                        <router-outlet></router-outlet>
                   </div>
                   <div class="footer-wrapper">
                        <app-footer></app-footer>
                   </div>
                </div>
            </div>
        </section>
    </div>
 
    
</div>

