<div class="container-fluid">
    <div class="row">
       <div class="col-12">
            <app-top-panel></app-top-panel>
       </div>
    </div>
    <div class="row">
        <div class="col-3">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-9">
            <button type="button" class="btn btn-primary">abc</button>
        </div>
    </div>
    <div class="row">
       <div class="col-12">
            <app-footer></app-footer>
       </div>
    </div>
    
</div>

