<div class="sign-in-wrapper clearfix">
  <h3>Sign In</h3>
  <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"  formControlName="formEmailAdd">
        

        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  formControlName="formPassword">
      </div>

     <div class="col-12 p-0">
        <a class="fp" routerLink='/forgot-password' >Forgot password</a>
     </div>
    <button type="submit" class="btn btn-outline-success btn-submit float-left"> Submit</button>
    <button type="button" class="btn btn-outline-danger float-right" (click)="resetForm()"> Reset</button>

  </form>
</div>
